
1. Except the pictures and videos everything should be fixed on the website for this we need to start editing the products.
what are we providing presently- 
1. Small description
2. Block diagram (Uniform)
3. Synopsis
4. Seminar presentation
5. Applications/Problem it is solving
6. what you are getting - features
7. Recommend ratio- where it must be recommended.(Purpose of buying)